html {
    font-size: 62.5%;
}

body {
    font-family: helvetica,freesiaUPC,sans-serif;
    font-size: $M-Size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}